@import '~antd/dist/antd.variable.css';

:root {
  --ant-primary-color: #158BF4;
  --border-color: #cacaca;
  --background-color: #ffffff;
  --background-box-title: #f7f7f7;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}
